



.color-bar {
  height: .25em;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #FAEB7D), color-stop(8.33333%, #FAEB7D), color-stop(8.33333%, #CDF697), color-stop(16.66667%, #CDF697), color-stop(16.66667%, #F77272), color-stop(25%, #F77272), color-stop(25%, #8EE7E7), color-stop(33.33333%, #8EE7E7), color-stop(33.33333%, #FAEB7D), color-stop(41.66667%, #FAEB7D), color-stop(41.66667%, #CDF697), color-stop(50%, #CDF697), color-stop(50%, #F77272), color-stop(58.33333%, #F77272), color-stop(58.33333%, #8EE7E7), color-stop(66.66667%, #8EE7E7), color-stop(66.66667%, #FAEB7D), color-stop(75%, #FAEB7D), color-stop(75%, #CDF697), color-stop(83.33333%, #CDF697), color-stop(83.33333%, #F77272), color-stop(91.66667%, #F77272), color-stop(91.66667%, #8EE7E7), color-stop(100%, #8EE7E7));
  background-image: -webkit-linear-gradient(left, #FAEB7D 0%, #FAEB7D 8.33333%, #CDF697 8.33333%, #CDF697 16.66667%, #F77272 16.66667%, #F77272 25%, #8EE7E7 25%, #8EE7E7 33.33333%, #FAEB7D 33.33333%, #FAEB7D 41.66667%, #CDF697 41.66667%, #CDF697 50%, #F77272 50%, #F77272 58.33333%, #8EE7E7 58.33333%, #8EE7E7 66.66667%, #FAEB7D 66.66667%, #FAEB7D 75%, #CDF697 75%, #CDF697 83.33333%, #F77272 83.33333%, #F77272 91.66667%, #8EE7E7 91.66667%, #8EE7E7 100%);
  background-image: -moz-linear-gradient(left, #FAEB7D 0%, #FAEB7D 8.33333%, #CDF697 8.33333%, #CDF697 16.66667%, #F77272 16.66667%, #F77272 25%, #8EE7E7 25%, #8EE7E7 33.33333%, #FAEB7D 33.33333%, #FAEB7D 41.66667%, #CDF697 41.66667%, #CDF697 50%, #F77272 50%, #F77272 58.33333%, #8EE7E7 58.33333%, #8EE7E7 66.66667%, #FAEB7D 66.66667%, #FAEB7D 75%, #CDF697 75%, #CDF697 83.33333%, #F77272 83.33333%, #F77272 91.66667%, #8EE7E7 91.66667%, #8EE7E7 100%);
  background-image: -o-linear-gradient(left, #FAEB7D 0%, #FAEB7D 8.33333%, #CDF697 8.33333%, #CDF697 16.66667%, #F77272 16.66667%, #F77272 25%, #8EE7E7 25%, #8EE7E7 33.33333%, #FAEB7D 33.33333%, #FAEB7D 41.66667%, #CDF697 41.66667%, #CDF697 50%, #F77272 50%, #F77272 58.33333%, #8EE7E7 58.33333%, #8EE7E7 66.66667%, #FAEB7D 66.66667%, #FAEB7D 75%, #CDF697 75%, #CDF697 83.33333%, #F77272 83.33333%, #F77272 91.66667%, #8EE7E7 91.66667%, #8EE7E7 100%);
  background-image: linear-gradient(left, #FAEB7D 0%,#FAEB7D 8.33333%,#CDF697 8.33333%,#CDF697 16.66667%,#F77272 16.66667%,#F77272 25%,#8EE7E7 25%,#8EE7E7 33.33333%,#FAEB7D 33.33333%,#FAEB7D 41.66667%,#CDF697 41.66667%,#CDF697 50%,#F77272 50%,#F77272 58.33333%,#8EE7E7 58.33333%,#8EE7E7 66.66667%,#FAEB7D 66.66667%,#FAEB7D 75%,#CDF697 75%,#CDF697 83.33333%,#F77272 83.33333%,#F77272 91.66667%,#8EE7E7 91.66667%,#8EE7E7 100%);
}













