// $background-color: #0F201E;
// $text-color: #04ABCA;
// $body-font: "ff-enzo-web",sans-serif;
@import "settings";

html, body {
  height: 100%;
  min-height: 100%;
}

.fullscreen-img {
  display:block;
  z-index:1;
  min-width:100%;
  height: 99%;
  background:transparent url('../img/orchid.jpg') center center no-repeat;
  border-bottom: 50px solid rgba(177, 99, 163, 0.36);
}

.content-area {
  border-top: 4px solid #f5ae8e;
}

.services-content {
  background-color: rgb(255, 252, 244);
}

.full-width {
  padding: 4%;
}

.top-bar-section ul li > a, .top-bar-section ul li > a:active, .top-bar-section ul li > a:visited {
  text-transform: uppercase;
  transition: background 0.5s ease;
}

.masonry-brick { width: 220px; margin: 10px; float: left;  }
#masonryContainer {
  width: 0 auto;
  margin: 0 5% 0 5%;
}

.name {
   height: 0px;
}

.logo {
  margin: 20% 0 0 0;
  text-align: center;
}

.logo h1 {
  color: #fff;
  font-size: 5em;
  text-shadow: 4px 7px 1px rgba(46, 240, 248, 0.42);
}

h2 {
  text-shadow: 3px 4px 1px rgba(46, 240, 248, 0.42);
  border-bottom: 4px solid rgba(156, 124, 111, 0.62);
}

.stripe {
  background-color: #f5ae8e;
  height: 4px;
}
.top-bar ul li {
  border-bottom: 4px solid rgba(46, 240, 248, 0.11);
}
.top-bar-section ul:first-child {
  margin: 0 0 0 4%;
}

.top-bar-section ul:last-child {
  margin: 0 4% 0 0;
}